<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrabble Score Finder</title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="user-input">Enter a word to get your score:</label>
      <input type="text" name="user-input" id="user-input">
      <button type="submit" name="button">Submit</button>
    </form>
    <p>@Model</p>
  </body>
</html>
